:root {
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-custom-blue: #0081cc;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* 공통적으로 모든 태그 모든 아이들을 박스 사이징을 borderbox로 한다.
 우리가 패딩을 줬을 때 동일한 높이와 너비가 되도록 만든다. */
* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-regular);
}

body {
  font-family: "Open Sans", sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 16px;
}

.navbar__logo {
  color: var(--color-dark-pink);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-medium);
}

.navbar__logo a {
  color: black;
  font-weight: var(--weight-bold);
  text-decoration: none;
}

.navbar__menu {
  display: flex;
  padding: 8px 12px;
  margin: 0 4px;
}

.menu__item {
  padding: 8px 12px;
  color: var(--color-dark-pink);
}

.menu__item:hover {
  color: black;
}

li {
  list-style: none;
}

button {
  width: 6px 6px;
  border: none;
  border-radius: 20%;
  background-color: transparent;
}
